.body-test-carte {
  .return,
  .godefi {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-base;
    margin-top: 58px;
    width: 350px;
    height: 50px;
    font-family: "caviar", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: $p;
    text-decoration: none;
    cursor: pointer;
    transition-property: transform, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: absolute;
    &:hover {
      transform: translateX(15px);
    }
  }
  .return {
    position: absolute;
    top: -46px;
    right: 10px;
  }
  .godefi {
    position: relative;
    margin-top: 355px;
    margin-left: 500px;
    opacity: 0;
  }
}
