.body-test-carte {
  overflow: hidden;
  /*Basics*/
  a {
    width: auto;
    display: block;
  }
  /*Classes*/
  .main {
    display: flex;
    position: absolute;
    bottom: 0;
    /*all cards*/
    .c1 {
      transform: translateY(90px) rotate(-25.64deg);
      z-index: 1;
    }
    .hoverc1 {
      &:hover {
        transform: translateY(-100px) rotate(-25.64deg);
        z-index: 10;
      }
    }
    .c2 {
      z-index: 2;
      transform: translateY(40px) rotate(-10.93deg);
    }
    .hoverc2 {
      &:hover {
        transform: translateY(-100px) rotate(-10.93deg);
        z-index: 10;
      }
    }
    .c3 {
      z-index: 3;
      transform: translateY(10px) rotate(0.37deg);
    }
    .hoverc3 {
      &:hover {
        transform: translateY(-100px) rotate(0.37deg);
        z-index: 10;
      }
    }
    .c4 {
      z-index: 4;
      transform: translateY(10px) rotate(5.26deg);
    }
    .hoverc4 {
      &:hover {
        transform: translateY(-100px) rotate(5.26deg);
        z-index: 10;
      }
    }
    .c5 {
      z-index: 5;
      transform: translateY(40px) rotate(10.14deg);
    }
    .hoverc5 {
      &:hover {
        transform: translateY(-100px) rotate(10.14deg);
        z-index: 10;
      }
    }
    .c6 {
      z-index: 6;
      transform: translateY(90px) rotate(15.15deg);
    }
    .hoverc6 {
      &:hover {
        transform: translateY(-100px) rotate(15.15deg);
        z-index: 10;
      }
    }
  }
  .carte {
    margin-right: -100px;
    transition: transform 0.2s ease-in-out;
    height: 443px;
  }
}
