.middlechoice {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 172px;
    .choice {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-base;
      width: 350px;
      height: 50px;
      font-family: "caviar", sans-serif;
      text-transform: uppercase;
      color: white;
      font-size: $p;
      text-decoration: none;
      animation-name: transform;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      &:hover {
        transform: translateX(15px);
      }
    }
  }
}
