.return {
  position: absolute;
  top: -46px;
  right: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-base;
  margin-top: 58px;
  width: 350px;
  height: 50px;
  font-family: "caviar", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: $p;
  text-decoration: none;
  cursor: pointer;
  transition-property: transform, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: absolute;
  &:hover {
    transform: translateX(15px);
  }
}
.defis {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 691px;
  .static {
    display: flex;
    justify-content: space-between;
    .card {
      width: 220px;
      transform: translateX(-500px);
      opacity: 0;
    }
  }
  .dynamic {
    width: 350px;
    .seldefi {
      //Pour animation js
      transform: translateX(-1000px);
      opacity: 0;
      .select {
        //Style
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-base;
        margin-top: 58px;
        width: 350px;
        height: 50px;
        font-family: "caviar", sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: $p;
        text-decoration: none;
        cursor: pointer;
        transition-property: transform, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:hover {
          transform: translateX(15px);
        }
      }
    }
    .roue {
      transform: translateX(-800px);
      opacity: 0;
      position: relative;
      width: 350px;
      .pique {
        position: absolute;
        transform: translate(186%, -272%);
        width: 73px;
      }
    }
  }
  .defi {
    transform: translateX(375px);
    position: absolute;
    opacity: 0;
    h2 {
      font-family: "caviarbold", sans-serif;
      text-transform: uppercase;
      font-size: 48px;
      padding-bottom: 82px;
    }
    p {
      font-family: "caviar", sans-serif;
      width: 364px;
      font-size: $p-bold;
    }
  }
}
@media screen and(max-width: 1024px) {
  .respon {
    width: unset;
    .return {
      transform: scale(0.6);
      bottom: 0;
      top: unset;
      right: -58px;
    }
    .defis {
      transform: scale(0.8);
      position: relative;
      top: -38px;
    }
  }
}

@media screen and(max-width: 768px) {
  .respon {
    width: unset;
    .return {
      transform: scale(0.6);
      bottom: 0;
      top: unset;
      right: -58px;
    }
    .defis {
      transform: scale(0.65);
      position: relative;
      top: -58px;
    }
  }
}
/*
@media screen and(max-width: 480px) {
  .respon {
    width: unset;
    justify-content: center;
    .return {
      transform: scale(0.8);
      right: -28px;
      bottom: 0;
      top: unset;
      &:hover {
      }
    }
    .defis {
      position: relative;
      transform: scale(0.6);
      top: -144px;
      flex-direction: column;
      width: 350px;
      .static {
        margin: auto;
        margin-bottom: 50px;
        .card {
        }
      }
      .dynamic {
        .seldefi {
          .select {
            &:hover {
            }
          }
        }
        .roue {
          .pique {
          }
        }
      }
      .defi {
        h2 {
        }
        p {
        }
      }
    }
  }
}
*/
