.translate{
    animation: translate 500ms ease-out ;
    transform: translate(50vw,40vh) scale(2);
}
@keyframes translate {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(50vw,40vh) scale(2);
    }
    
}