// Base
@import "./base/reset";
@import "./base/variables";

// Components

// Layouts

// Pages
@import "./pages/choice";
@import "./pages/InstantHouse";
@import "./pages/defi";
@import "./pages/Carte";
// Size wrap
body {
  display: flex;
  width: 1131px;
  margin: auto;
}
